.App {
  font-size: 1.6rem;
  color: #fefefe;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  background: #202124;
  height: 100%;
}

@media (min-width: 1350px) {
  .App {
    grid-template-columns: 1.5fr 1.2fr 1.5fr;
  }
}
